@page
@model contact_form.Pages.contactModel
@{
}
<h3> contact form</h3>

@if (Model.hashdata)
{



	<p>  Hello @Model. firstname @Model.lastname</p>
	<p> we received your following message correctly:</p>
		<p> @Model.message</p>

		}

		<div class ="container">
			<forn method="POST">
				<label for="fname">First Name</label><br />
				<input type="text" id="fname" name="firstname" /><br>

				<label for="lname">Last Name</label><br>
				<input type="text" id="lname" name="Lastname" /><br>

				<label for="message">Message</label><br>
				<textarea id ="message" name="message" style="height:00px" /></textarea><br>

	<input type="submit" value="Submit" >
	</forn>
	</div>


}